<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${product.name}"></title>
</head>
<body layout:fragment="body" >

<div class="row mt-4">
    <div class="col">
        <a class="btn btn-outline-dark" th:href="@{/products}">
            <i class="fa-solid fa-circle-chevron-left"></i> Back
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xl-5 col-lg-6 col-md-12  align-self-start">
        <div class="card mt-4 mb-3">
            <div class="card-header">
                <h2 th:text="'Product '+${product.id}"></h2>
            </div>
            <div class="card-body" th:object="${product}">
                <div class="mb-2">
                    <p class="fw-semibold d-inline">Name:</p>
                    <p class="d-inline" th:text="*{name}"></p>
                </div>
                <div class="mb-2">
                    <p class="fw-semibold d-inline">Description:</p>
                    <p class="d-inline" th:text="*{description}"></p>
                </div>
                <div class="mb-2">
                    <p class="fw-semibold d-inline">Category:</p>
                    <p class="d-inline" th:text="*{category}"></p>
                </div>
                <div class="mb-2">
                    <p class="fw-semibold d-inline">Price:</p>
                    <p class="d-inline" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></p>
                </div>
                <div class="mb-2">
                    <p class="fw-semibold d-inline">Available stock:</p>
                    <p class="d-inline" th:text="*{inStock}"></p>
                </div>
                <div class="mb-2">
                    <p class="fw-semibold d-inline">Created on:</p>
                    <p class="d-inline" th:text="${#temporals.format(product.createdOn, 'dd-MM-yyyy HH:mm')}"></p>
                </div>
                <div class="mb-2">
                    <p class="fw-semibold d-inline">Updated on:</p>
                    <p class="d-inline" th:if="${product.updatedOn != null}" th:text="${#temporals.format(product.updatedOn, 'dd-MM-yyyy HH:mm')}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- other product related content here-->

<div class="row align-items-center mt-5">
    <div class="col text-center">
        <a class="btn btn-danger btn-lg" th:href="@{/products/{productId}/delete(productId=${product.id})}">
            <i class="fa-solid fa-trash"></i> Delete
        </a>
    </div>
</div>


</body>
</html>